.contentContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    transition: transform 1s ease-in-out;
    &.noBackground {
        background-color: transparent;
    }
    &.isOut,
    &.isIn {
        transform: translateY(100%);
    }
}
