@import '../../style/variables.scss';

.infoContainer {
    padding: 54px 0 0;
}

.infoHeader {
    position: relative;
    color: #000;
    padding: 0 152px;
    &.even {
        text-align: right;
        &:after {
            right: 0;
        }
        &:before {
            left: 5%;
        }
    }
    &.odd {
        text-align: left;
        &:after {
            left: 0;
        }
        &:before {
            left: 95%;
        }
    }
    &:after {
        display: block;
        content: '';
        position: absolute;
        width: 95%;
        height: 7px;
        background-color: $purple61;
        transform: translateY(-50%);
        top: 50%;
    }
    &:before {
        display: block;
        content: '';
        position: absolute;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        border: 7px solid $purple61;
        background-color: #fff;
        top: 50%;
        left: 5%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.infoImg {
    position: relative;
    width: 357px;
    height: 357px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid $purple61;
    z-index: 1;
    background-color: #fff;
    img {
        object-fit: cover;
        object-position: center center;
        height: 100%;
        width: 100%;
    }
}
