@import '../../style/variables.scss';

.topicsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 750px;
    margin: 0 auto 35px;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px ;
    text-align: center;
    cursor: pointer;
}

.itemTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    min-height: 35px;
    margin: auto auto 0;
}

.text {
    font-size: 18px;
    line-height: 21px;
    color: $purple7D;
}
