@import '../../style/variables.scss';

.topicsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto 35px;
    padding-top: 150px;
    :global(.isInnerIn) & {
        animation: fadeOut .5s ease-in-out;
        animation-fill-mode: forwards;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: calc(33.333% - 40px);
    width: calc(33.333% - 40px);
    margin: 40px 20px 60px;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: .25s;
    img {
        max-width: 170px;
        max-height: 120px;
    }
    &:nth-child(1) {
        animation-name: fadeIn;
        animation-delay: 1s;
    }
    &:nth-child(2) {
        animation-name: fadeIn;
        animation-delay: 1.1s;
    }
    &:nth-child(3) {
        animation-name: fadeIn;
        animation-delay: 1.2s;
    }
    &:nth-child(4) {
        animation-name: fadeIn;
        animation-delay: 1.3s;
    }
    &:nth-child(5) {
        animation-name: fadeIn;
        animation-delay: 1.4s;
    }
    &:nth-child(6) {
        animation-name: fadeIn;
        animation-delay: 1.4s;
    }
    &:nth-child(7) {
        animation-name: fadeIn;
        animation-delay: 1.4s;
    }
    &:nth-child(8) {
        animation-name: fadeIn;
        animation-delay: 1.5s;
    }
    &:nth-child(9) {
        animation-name: fadeIn;
        animation-delay: 1.6s;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.itemImg {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 40px;
}

.itemTitle {
    min-height: 64px;
    margin: auto auto 0;
}

.text {
    font-size: 24px;
    line-height: 32px;
    color: $purple7D;
}
