.title {
    position: relative;
    max-width: 397px;
    margin:0 auto;
    text-align: center;
}

.text {
    position: absolute;
    top: 37px;
    bottom: 73px;
    left: 26px;
    right: 26px;
    font-family: Interstate;
    font-size: 40px;
    line-height: 47px;
    color: #fff;
}
