@import '../../style/variables.scss';

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 397px;
    min-height: 64px;
    background-image: url('/assets/title/tab.png');
    background-size: 100% 100%;
    margin: 0 auto 30px;
}

.solid {
    background-image: none;
    background-color: $purple86;
    border-radius: 10px;
}

.text {
    font-size: 40px;
    line-height: 47px;
    color: #fff;
}
