.navigation {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 1368px;
    margin: 214px auto 0;
}

.navigationItem {
    display: block;
    flex-basis: 50%;
    text-align: center;
    &:first-child {
        margin-bottom: 110px;
    }
    &:nth-child(2) {
        margin-bottom: 110px;
    }
    img {
        max-width: 100%;
        width: 305px;
        height: 305px;
    }
}