.header {
	position: relative;
}

.headerButtons {
	display: flex;
	justify-content: space-between;
	position: absolute;
	padding: 24px 32px;
	width: 100%;
}

.headerLogo {
	padding-top: 80px;
	text-align: center;

}