@font-face {
    font-family: 'Interstate';
    font-weight: $regular;
    font-style: normal;
    src: url('/assets/fonts/Interstate-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Interstate';
    font-weight: $bold;
    font-style: normal;
    src: url('/assets/fonts/Interstate-Bold.woff2') format('woff2');
}
