@import './variables.scss';
@import './fonts.scss';

html, body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Interstate', sans-serif;
	font-weight: $regular;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

#app {
	display: flex;
	flex-direction: column;
	position: relative;
	background-image: url('/assets/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	overflow: hidden;
}

button {
	background: none;
	border: none;
	&:focus {
		outline: none;
	}
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}