.footer {
    display: flex;
    background-color: rgba(126, 87, 164, 0.9);
    padding: 30px 50px 40px;
    min-height: 190px;
}

.footerWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    max-width: 1368px;
    margin: 0 auto;
}

.footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
        max-width: 155px;
        width: 100%;
    }
}

.singleColumn {
    img {
        max-width: 93px;
    }
}