@import '../../style/variables.scss';
@import '../Info/style.scss';

.speaker {
    @extend .infoHeader;
    padding: 0 60px;
    &.even {
        &:before {
            left: 40%;
        }
        .speakerInfo {
            right: 0;
            text-align: left;
        }
    }
    &.odd {
        &:before {
            left: 60%;
        }
        .speakerInfo {
            left: 0;
            text-align: right;
        }
    }
    &:after {
        width: 60%;
        height: 5px;
    }
    &:before {
        width: 16px;
        height: 16px;
        left: 40%;
        border-width: 5px;
    }
}

.speakerImg {
    @extend .infoImg;
    width: 143px;
    height: 143px;
}

.speakerInfo {
    position: absolute;
    width: 100%;
    max-width: 60%;
    top: calc(50% + 48px);
    transform: translateY(-50%);
    text-align: left;
}

.speakerName {
    display: inline-block;
    font-size: 24px;
    font-weight: $regular;
    color: $purple61;
}

.speakerTitle {
    font-size: 18px;
    font-weight: $regular;
    color: $purple61;
    span {
        line-height: 35px;
    }
    img {
        max-width: 100px;
        max-height: 35px;
    }
}
