@import '../../style/variables.scss';
@import '../Info/style.scss';

.speakersList {
    // :global(.isOut) & {
    //     animation: slideOut 1s;
    // }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(200%);
    }
}

.speakerListEl {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.speakerListEl:nth-child(1) {
    transform: translateX(100%);
    animation-name: slideInRight;

}
.speakerListEl:nth-child(2) {
    transform: translateX(-100%);
    animation-name: slideInLeft;
    animation-delay: 1.4s;

}
.speakerListEl:nth-child(3) {
    transform: translateX(100%);
    animation-name: slideInRight;
    animation-delay: 1.6s;
}
.speakerListEl:nth-child(4) {
    transform: translateX(-100%);
    animation-name: slideInLeft;
    animation-delay: 1.8s;
}
.speakerListEl:nth-child(5) {
    transform: translateX(100%);
    animation-name: slideInRight;
    animation-delay: 2s;
}

.speaker {
    @extend .infoHeader;
    padding: 0 60px;
    &.even {
        &:before {
            left: 40%;
        }
        .speakerInfo {
            left: 40%;
            text-align: left;
        }
    }
    &.odd {
        &:before {
            left: 60%;
            transform: translate(-50%, -50%);
        }
        .speakerInfo {
            right: 40%;
            max-width: 410px;
            text-align: right;
        }
    }
    &:after {
        width: 60%;
        height: 5px;
    }
    &:before {
        width: 22px;
        height: 22px;
        left: 40%;
        border-width: 5px;
    }
}

.speakerImg {
    position: relative;
    width: 194px;
    height: 194px;
    border: 6px solid $purple61;
    border-radius: 50%;
    z-index: 1;
}

.speakerInfo {
    position: absolute;
    width: 100%;
    max-width: 60%;
    top: 120px;
    text-align: left;
}

.speakerName {
    display: inline-block;
    font-size: 42px;
    line-height: 50px;
    font-weight: $regular;
    color: $purple61;
}

.speakerTitle {
    font-size: 32px;
    line-height: 40px;
    font-weight: $regular;
    color: $purple61;
    span {
        line-height: 35px;
    }
    img {
        max-width: 120px;
        max-height: 35px;
    }
}
